* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 675px;
  background-color: #000;
  margin: 30px auto;
  display: block;
  font-size: 0;
}

.row{
  display: flex;
}

.cell {
  background-color: #eee;
  height: 75px;
  width: 75px;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.piece {
  width: 100%;
  height: 75%;
  margin: auto;
  align-self: center;
  font-size: 50px;
  text-align: center;
}

.tail{
  font-size: 50px;
  position: absolute;
}

.white {
  color: white;
}

.black {
  color: black;
}

.clear-cell {
  background-color: white;
  border: none;
  font-size: 50px;
}

.black-cell {
  background-color: #5D1508;
}

.white-cell {
  background-color: #E9CE84;
}

.cell:hover {
  opacity: 0.8;
}

.clear-cell:hover{
  cursor: auto;
  opacity: 1;
  font-size: ;
}

